body{
    background-color: #121412;
    font-family: cursive;
    color: #ffffff;
}
.alert {
    direction: rtl;
}
p{
    font-size: large;
}
.btn{
    font-size: larger;
}
#alert{
    display: none;
    direction: ltr;
}
